body {
    background-color:green;
}
h2 {
    color:antiquewhite;
    font-family: arial narrow bold;
    font-size: 40px;
    text-align: center;
}
button {
    background-color: lightblue;
    color: black;
    font-family: arial narrow bold;
    font-size: 20px;
    border-radius: 12px;
    padding: 20px 20px;
    cursor: pointer;
    text-align: center;
}
section {
    background-color: green;
    font-family: arial narrow bold;
    font-size: 20px;
    color: antiquewhite;
}
input {
    background-color: lightblue;
    color: black;
    font-family: arial narrow bold;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px 24px;
    cursor: pointer;
}
localStorage {
    background-color: lightblue;
    color: black;
    font-family: arial narrow bold;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px 10px;
    cursor: pointer;
    text-align: center;
}
setor {
    background-color: lightblue;
    color: black;
    font-family: arial narrow bold;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px 10px;
    cursor: pointer;
    text-align: center;
}
